div.root *{
    border: 1px solid black;
    padding: 5px;
}
div.root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
div.root>header{
    display: flex;
    justify-content: center;
    height: 200px;
}
div.root>nav{
    display: flex;
    justify-content: center;
    height: 20px;
}
div.root>div.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
}
div.main>section{
    display: flex;
    width:80%;
    
}
div.main>aside{
    display: flex;
    width: 20%;
}

div.root>footer{
    display: flex;
    justify-content: center;
}